<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <description>
        Hello World!
    </description>
    <display-name>Hi, Man</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
    <servlet-name>ParserServlet</servlet-name>
    <servlet-class>by.epam.xml.servlet.ParserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>ParserServlet</servlet-name>
    <url-pattern>/parserAction</url-pattern>
    </servlet-mapping>
</web-app>
