.header {
    height: 450px;
    width: 100%;
    background: rgb(62, 57, 107);
    position: relative;
}

.header_texture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(aaaa.jpg);
    background-size: cover;
    z-index: 1;
    opacity: 0.5;
}

.header_mask {
    position: absolute;
    bottom: 0;
    background: 0 0;
    height: 42px;
    width: 100%;
    z-index: 10;
}

.header_navbar {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo_title {
    color: #ffffff;
    font-size: 28px;
}

.menu_link {
    margin-left: 40px;
    color: #ffffff;
    text-decoration: none;
}

.menu_link:hover {
    border-bottom: 2px solid #e67e22;
}

.header_slogan {
    text-align: center;
    margin-top: 120px;
}


.h_slogan {
    color: #ffffff;
    font-size: 35px;
    text-transform: uppercase;
    font-family: Serif;
    font-style: italic;
    letter-spacing: 2px;
}

.h_slogan_btn {
    opacity: 0.75;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 45px;
    background: #e67e22;
    border-radius: 4px;
}














